.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 340px;
  border-radius: 15px;
  gap: 50px;
  box-shadow: 
              2px 4px 16px 0px rgba(59, 59, 59, 0.7);
}

.form__header {
  text-align: center;
  width: 140px;
}

.form__inputs {
  display: flex;
  flex-direction: column; 
}

input {
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
}

.form__button {
  width: 120px;
  padding: 8px;
  cursor: pointer;
}